<app-header></app-header>

  <div class="container divheight">
    <div class="d-flex flex-row justify-content-center align-items-center row">
      <div class="col-lg-6 col-sm-12 col-6 border rounded p-2">
          <h4 class="text-center">SignUp</h4>
          <!-- <form  #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate> -->
            <div>

            
            <div class="form-group" >
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="test@abcd.com" name="email" [(ngModel)]="emailId">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="pass">
            </div>
            <div class="form-group">
              <label for="type">SignUp As</label>
              <select class="form-control" id="type" [(ngModel)]="userType" name="userType" (ngModelChange)="onChange($event)">
                <option value="r">Recuriter</option>
                <option value="c">Candidate</option>
              </select>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" (click)="signUp()">SignUp</button>
            </div>
          </div>
          <!-- </form> -->
      </div>
    </div>
    {{emailId}}{{pass}}
    
    
  
</div>